@mixin section-width() {
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  @media #{$max-mobile-width} {
    max-width: $max-mobile-wrapper;
  }
  @media #{$min-tablet-width} {
    max-width: $max-tablet-wrapper;
  }
  @media #{$min-desktop-width} {
    max-width: $max-desktop-wrapper;
  }
}
@mixin section-width-no-mobile() {
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  @media #{$min-tablet-width} {
    max-width: $max-tablet-wrapper;
  }
  @media #{$min-desktop-width} {
    max-width: $max-desktop-wrapper;
  }
}
@mixin paddings() {
  @media #{$max-mobile-width} {
    padding-left: 14px;
    padding-right: 14px;
  }
  @media #{$min-tablet-width} {
    padding-left: 25px;
    padding-right: 25px;
  }
  @media #{$min-desktop-width} {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@mixin paddings-no-mobile() {
  @media #{$min-tablet-width} {
    padding-left: 25px;
    padding-right: 25px;
  }
  @media #{$min-desktop-width} {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@mixin centers {
  margin-left: auto;
  margin-right: auto;
}
@mixin main-btn {
  color: #fff;
  border: 1px solid #cd2825;
  border-radius: 5px;
  background: rgb(254,95,92);
  background: -moz-linear-gradient(top, rgba(254,95,92,1) 0%, rgba(206,41,38,1) 100%);
  background: -webkit-linear-gradient(top, rgba(254,95,92,1) 0%,rgba(206,41,38,1) 100%);
  background: linear-gradient(to bottom, rgba(254,95,92,1) 0%,rgba(206,41,38,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49ba7a', endColorstr='#349a60',GradientType=0 );
}
@mixin main-btn--hover {
  color: #fff;
  background: rgb(255,125,123);
  background: -moz-linear-gradient(top, rgba(255,125,123,1) 1%, rgba(203,70,67,1) 100%);
  background: -webkit-linear-gradient(top, rgba(255,125,123,1) 1%,rgba(203,70,67,1) 100%);
  background: linear-gradient(to bottom, rgba(255,125,123,1) 1%,rgba(203,70,67,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59e0a8', endColorstr='#3aad6e',GradientType=0 );
}
@mixin title-main {
  font-weight: 700;
  text-transform: uppercase;
  @media #{$max-mobile-width} {
    font-size: 1.7rem;
  }
  @media #{$min-tablet-width} {
    font-size: 1.7rem;
  }
  @media #{$min-desktop-width} {
    font-size: 2.4rem;
  }
}