$max-mobile-width: "(max-width: 767px)";
$max-mobile-wrapper: 500px;

$min-tablet-width: "(min-width: 768px)";
$max-tablet-width: "(max-width: 1365px)";
$max-tablet-wrapper: 991px;

$min-desktop-width: "(min-width: 1366px)";
$max-desktop-wrapper: 1400px;

$text-main-color: #000;
$main-bg: #ffffff;
$title-color: #3f528c;

$links-color: #3f528c;
$links-color--hover: #6281df;

$font-main: "segoeui", "Arial", sans-serif;

$title-strong-color: #3f528c;

$input-focus: #afafaf;

$proof-hover: rgba(63, 82, 140, 0.5);